* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.container {
  height: 500px;
  width: 500px;
  border: 1px solid rgb(207, 188, 188);
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 230, 183);
}
.chessboard {
  width: 92%;
  height: 92%;
  border-collapse: collapse;
}
.chessboard td {
  border: 1px solid black;
  position: relative;
}
.chess {
  border: 1px solid lightgrey;
  border-radius: 50%;
  position: absolute;
  width: 90%;
  height: 90%;
  color: lightgrey;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  left: -50%;
  top: -50%;
}
.black {
  background-color: #000;
}
.white {
  background-color: #fff;
}
.end {
  border: 1px solid red;
  box-shadow: 0 0 3px 2px red;
}
